flow.json
[
    {
        "id": "aaec1fdb.ceee98",
        "type": "tab",
        "label": "Conditions",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3956f74e.afa3",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3bfa1c6.68b46e4",
        "type": "tab",
        "label": "Alexa",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f3ffaee7.bf291",
        "type": "tab",
        "label": "Git",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5060f2fa.bf2a2c",
        "type": "tab",
        "label": "Printer",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad48553a.3347e8",
        "type": "subflow",
        "name": "toggle",
        "info": "# Problem\n\nI have a RF Remote that I want to use for my outdoor lamps but I don’t want to assign two buttons (ON button and OFF button) for this job. I want to have a single button to turn ON the lights as well as turn them OFF.\n\nWe do have multiple solutions for this one and I will show you one of them!\n\n**The logic behind is very simple:**\n\n1. We have an input (but we don’t care about the value)\n2. Read the next value from a variable (or assign 0 if none)\n3. Set the payload  to the next value and assign the opposite value to the variable\nOutput\n4. First, create a new subflow using the menu on the top right corner.\n\nFrom the top, add 1 input and 1 output node.\n![Subflow](https://www.iotwithus.com/wp-content/uploads/2018/11/node-red-toggle-subflow.png)\n\nImport the nodes in this file to your subflow.\n",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "8f47e4e9.d2fb2"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 820,
                "y": 120,
                "wires": [
                    {
                        "id": "6fd730dd.999cd",
                        "port": 0
                    },
                    {
                        "id": "cc8eaa7b.f94268",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "ad5e5c74.55ca98",
        "type": "subflow",
        "name": "Subflow 1",
        "info": "",
        "in": [
            {
                "x": 80,
                "y": 220,
                "wires": []
            }
        ],
        "out": []
    },
    {
        "id": "fa408ea0.c7f7b8",
        "type": "mqtt-broker",
        "z": "",
        "name": "Adafruit",
        "broker": "io.adafruit.com",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "f8823f19.3585b8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "home",
        "order": 4
    },
    {
        "id": "46b69da5.90d2f4",
        "type": "ui_group",
        "z": "",
        "name": "Charts Temperature",
        "tab": "f8823f19.3585b8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "e3bbe7b5.6d9e6",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "IOT",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4d3c030b.3919a4",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "f8823f19.3585b8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "63b8d67e.867bc",
        "type": "ui_group",
        "z": "",
        "name": "Humidity",
        "tab": "f8823f19.3585b8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b0815f8b.e0ace",
        "type": "ui_tab",
        "z": "",
        "name": "Average",
        "icon": "dashboard",
        "order": 5
    },
    {
        "id": "2eaf6bd8.e63d64",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "b0815f8b.e0ace",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b4ed370f.0bb2c8",
        "type": "ui_group",
        "z": "",
        "name": "Charts Humidity",
        "tab": "f8823f19.3585b8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "51cafaad.034724",
        "type": "github-credentials",
        "z": "",
        "name": "NodeRedUser"
    },
    {
        "id": "1aef3e95.0ce799",
        "type": "mqtt-broker",
        "z": "",
        "name": "CloudMQTT",
        "broker": "m20.cloudmqtt.com",
        "port": "15718",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "bdb45338.4c77d8",
        "type": "ui_tab",
        "z": "",
        "name": "3D printer",
        "icon": "print",
        "order": 2
    },
    {
        "id": "da1db3de.2b08d",
        "type": "ui_group",
        "z": "",
        "name": "Progress",
        "tab": "bdb45338.4c77d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "64cc0a35.1e5934",
        "type": "ui_link",
        "z": "",
        "name": "Printer monitor",
        "link": "https://www.getanywhere.io/app/devices",
        "icon": "open_in_browser",
        "target": "newtab",
        "order": 6
    },
    {
        "id": "ec8fb82c.72ed78",
        "type": "ui_group",
        "z": "",
        "name": "History",
        "tab": "bdb45338.4c77d8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "99fea630.486d2",
        "type": "ui_group",
        "z": "",
        "name": "Temperature",
        "tab": "bdb45338.4c77d8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "f03416b1.cb8298",
        "type": "ui_group",
        "z": "",
        "name": "Average",
        "tab": "bdb45338.4c77d8",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "f8694fbc.9931a8",
        "type": "ui_group",
        "z": "",
        "name": "Color",
        "tab": "37b6e70f.3296c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "11064f94.2a9748",
        "type": "ui_group",
        "z": "",
        "name": "General",
        "tab": "37b6e70f.3296c8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "37b6e70f.3296c8",
        "type": "ui_tab",
        "z": "",
        "name": "MagicHome",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "ffc5d4e4.028488",
        "type": "MagicHome-config",
        "z": "3956f74e.afa3",
        "name": "Room or lamp name",
        "host": "127.0.0.1",
        "interval": 10
    },
    {
        "id": "43c62450.c9975c",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqttbroker.andrelademann.de",
        "broker": "mqttbroker.andrelademann.de",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "1a186337.fcc165",
        "type": "ui_tab",
        "z": "",
        "name": "Switches",
        "icon": "fa-toggle-on",
        "order": 1
    },
    {
        "id": "aecb3339.89df3",
        "type": "ui_group",
        "z": "",
        "name": "RF",
        "tab": "1a186337.fcc165",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b836fab1.70737",
        "type": "ui_group",
        "z": "",
        "name": "Log",
        "tab": "1a186337.fcc165",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "2c074f01.c83108",
        "type": "mqtt in",
        "z": "aaec1fdb.ceee98",
        "name": "conditions.temperature",
        "topic": "vergissberlin/feeds/conditions.temparature",
        "qos": "2",
        "broker": "fa408ea0.c7f7b8",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "a70b107b.825bb",
                "da74a5e1.4a69c8"
            ]
        ]
    },
    {
        "id": "41f80c2b.3ee23c",
        "type": "mqtt in",
        "z": "aaec1fdb.ceee98",
        "name": "conditions.humidity",
        "topic": "vergissberlin/feeds/conditions.humidity",
        "qos": "2",
        "broker": "fa408ea0.c7f7b8",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "fb36931d.087068",
                "dbbe960c.848178",
                "72ab1733.9d6748"
            ]
        ]
    },
    {
        "id": "a70b107b.825bb",
        "type": "ui_gauge",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "4d3c030b.3919a4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 01",
        "label": "°C",
        "format": "{{value}}",
        "min": "-5",
        "max": "40",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 120,
        "wires": []
    },
    {
        "id": "fb36931d.087068",
        "type": "ui_gauge",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "63b8d67e.867bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity 01",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "da74a5e1.4a69c8",
        "type": "ui_chart",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "46b69da5.90d2f4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature 01",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "x": 600,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dbbe960c.848178",
        "type": "ui_chart",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "b4ed370f.0bb2c8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Humidity 01",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "72ab1733.9d6748",
        "type": "average-bars",
        "z": "aaec1fdb.ceee98",
        "name": "Humidity 01",
        "title": "Humidity 01",
        "period": "hour",
        "yMin": "0",
        "yMax": "100",
        "showBarsValue": false,
        "showScaleValue": false,
        "showLastValue": false,
        "showAverageValue": true,
        "showMinimumValue": true,
        "showMaximumValue": true,
        "maxBar": 30,
        "topColor": "#FF0000",
        "bottomColor": "#FFFF00",
        "unit": "%",
        "fontColor": "#AAAAAA",
        "barStyle": "Rectangle",
        "decimal": "2",
        "x": 590,
        "y": 280,
        "wires": [
            [
                "5839c1a5.23b6a"
            ]
        ]
    },
    {
        "id": "5839c1a5.23b6a",
        "type": "ui_template",
        "z": "aaec1fdb.ceee98",
        "group": "2eaf6bd8.e63d64",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "78e421f1.4432c",
        "type": "ui_audio",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "46b69da5.90d2f4",
        "voice": "de-DE",
        "always": "",
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "6ecf1907.0f6fa",
        "type": "template",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Die Temperatur beträgt {{payload}} °C",
        "output": "str",
        "x": 400,
        "y": 80,
        "wires": [
            [
                "78e421f1.4432c"
            ]
        ]
    },
    {
        "id": "2f6c9cbb.45130c",
        "type": "mqtt in",
        "z": "aaec1fdb.ceee98",
        "name": "conditions.02-temperature",
        "topic": "vergissberlin/feeds/conditions.02-temperature",
        "qos": "2",
        "broker": "fa408ea0.c7f7b8",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "e55308ef.32b438",
                "da68b3fa.469bc8"
            ]
        ]
    },
    {
        "id": "6866f8e3.3cadc",
        "type": "mqtt in",
        "z": "aaec1fdb.ceee98",
        "name": "conditions.02-humidity",
        "topic": "vergissberlin/feeds/conditions.02-humidity",
        "qos": "2",
        "broker": "fa408ea0.c7f7b8",
        "x": 180,
        "y": 460,
        "wires": [
            [
                "2d8df4d6.55269c",
                "175ceb8.c940015",
                "2804b736.825a28"
            ]
        ]
    },
    {
        "id": "e55308ef.32b438",
        "type": "ui_gauge",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "4d3c030b.3919a4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 02",
        "label": "°C",
        "format": "{{value}}",
        "min": "-5",
        "max": "40",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 380,
        "wires": []
    },
    {
        "id": "2d8df4d6.55269c",
        "type": "ui_gauge",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "63b8d67e.867bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity 02",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "da68b3fa.469bc8",
        "type": "ui_chart",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "46b69da5.90d2f4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature 02",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "x": 600,
        "y": 420,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "175ceb8.c940015",
        "type": "ui_chart",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "b4ed370f.0bb2c8",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "Humidity 02",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 500,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2804b736.825a28",
        "type": "average-bars",
        "z": "aaec1fdb.ceee98",
        "name": "Humidity 02",
        "title": "Humidity 02",
        "period": "week",
        "yMin": "0",
        "yMax": "100",
        "showBarsValue": false,
        "showScaleValue": false,
        "showLastValue": false,
        "showAverageValue": false,
        "showMinimumValue": false,
        "showMaximumValue": false,
        "maxBar": 30,
        "topColor": "#FF0000",
        "bottomColor": "#FFFF00",
        "unit": "%",
        "fontColor": "#AAAAAA",
        "barStyle": "Equalizer",
        "decimal": "2",
        "x": 590,
        "y": 540,
        "wires": [
            [
                "7bb2a528.2776cc"
            ]
        ]
    },
    {
        "id": "7bb2a528.2776cc",
        "type": "ui_template",
        "z": "aaec1fdb.ceee98",
        "group": "2eaf6bd8.e63d64",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 800,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "1d73a0ac.605657",
        "type": "mqtt in",
        "z": "aaec1fdb.ceee98",
        "name": "conditions.03-temperature",
        "topic": "vergissberlin/feeds/conditions.03-temperature",
        "qos": "2",
        "broker": "fa408ea0.c7f7b8",
        "x": 170,
        "y": 660,
        "wires": [
            [
                "2498c68d.bd7bca",
                "97d696b4.0dbac"
            ]
        ]
    },
    {
        "id": "8e2be7c0.6be49",
        "type": "mqtt in",
        "z": "aaec1fdb.ceee98",
        "name": "conditions.03-humidity",
        "topic": "vergissberlin/feeds/conditions.03-humidity",
        "qos": "2",
        "broker": "fa408ea0.c7f7b8",
        "x": 180,
        "y": 740,
        "wires": [
            [
                "f53ed443.843fb",
                "ec0d88ed.1f6eb8",
                "427ac933.3308f8"
            ]
        ]
    },
    {
        "id": "2498c68d.bd7bca",
        "type": "ui_gauge",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "4d3c030b.3919a4",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 03",
        "label": "°C",
        "format": "{{value}}",
        "min": "-5",
        "max": "40",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 600,
        "y": 660,
        "wires": []
    },
    {
        "id": "f53ed443.843fb",
        "type": "ui_gauge",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "63b8d67e.867bc",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity 03",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00B500",
            "#E6E600",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 590,
        "y": 740,
        "wires": []
    },
    {
        "id": "97d696b4.0dbac",
        "type": "ui_chart",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "46b69da5.90d2f4",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature 03",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "40",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "x": 600,
        "y": 700,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ec0d88ed.1f6eb8",
        "type": "ui_chart",
        "z": "aaec1fdb.ceee98",
        "name": "",
        "group": "b4ed370f.0bb2c8",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Humidity 03",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "x": 590,
        "y": 780,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "427ac933.3308f8",
        "type": "average-bars",
        "z": "aaec1fdb.ceee98",
        "name": "Humidity 03",
        "title": "Humidity 03",
        "period": "week",
        "yMin": "0",
        "yMax": "100",
        "showBarsValue": true,
        "showScaleValue": true,
        "showLastValue": true,
        "showAverageValue": true,
        "showMinimumValue": true,
        "showMaximumValue": true,
        "maxBar": 30,
        "topColor": "#FF0000",
        "bottomColor": "#FFFF00",
        "unit": "%",
        "fontColor": "#AAAAAA",
        "barStyle": "Equalizer",
        "decimal": "2",
        "x": 590,
        "y": 820,
        "wires": [
            [
                "ddd328de.36051"
            ]
        ]
    },
    {
        "id": "ddd328de.36051",
        "type": "ui_template",
        "z": "aaec1fdb.ceee98",
        "group": "2eaf6bd8.e63d64",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 800,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "18751635.ec60d2",
        "type": "http in",
        "z": "3bfa1c6.68b46e4",
        "name": "",
        "url": "/alexa",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "d1a4612.ea3c82",
                "1e660f2e.00b109"
            ]
        ]
    },
    {
        "id": "d1a4612.ea3c82",
        "type": "debug",
        "z": "3bfa1c6.68b46e4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 250,
        "y": 180,
        "wires": []
    },
    {
        "id": "c0043ffc.73bfe",
        "type": "template",
        "z": "3bfa1c6.68b46e4",
        "name": "rote Boxen",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"Es sind ziemlich viele Boxen rot. Ist das schlimm?\"\n        },\n        \"shoukdEndSession\": true\n    }\n}",
        "output": "str",
        "x": 610,
        "y": 100,
        "wires": [
            [
                "17ba534.fc5e6ad"
            ]
        ]
    },
    {
        "id": "17ba534.fc5e6ad",
        "type": "json",
        "z": "3bfa1c6.68b46e4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 100,
        "wires": [
            [
                "b80a1cb.8fcc36"
            ]
        ]
    },
    {
        "id": "b80a1cb.8fcc36",
        "type": "http response",
        "z": "3bfa1c6.68b46e4",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "1e660f2e.00b109",
        "type": "switch",
        "z": "3bfa1c6.68b46e4",
        "name": "request type",
        "property": "payload.request.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "IntentRequest",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "d311f889.7c673"
            ]
        ]
    },
    {
        "id": "d311f889.7c673",
        "type": "switch",
        "z": "3bfa1c6.68b46e4",
        "name": "indents",
        "property": "payload.request.intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getStatus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "triggerPipeline",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 440,
        "y": 100,
        "wires": [
            [
                "c0043ffc.73bfe"
            ],
            [],
            [
                "97c61131.a5b318"
            ]
        ]
    },
    {
        "id": "97c61131.a5b318",
        "type": "template",
        "z": "3bfa1c6.68b46e4",
        "name": "kein Plan",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "plain",
        "template": "{\n    \"version\": \"1.0\",\n    \"response\": {\n        \"outputSpeech\": {\n            \"type\": \"PlainText\",\n            \"text\": \"Ich habe keinen Plan was Du willst Alter. Kriegst gleich nen Klappstuhl!\"\n        },\n        \"shoukdEndSession\": true\n    }\n}",
        "output": "str",
        "x": 600,
        "y": 140,
        "wires": [
            [
                "17ba534.fc5e6ad"
            ]
        ]
    },
    {
        "id": "12367d2.c00fc83",
        "type": "inject",
        "z": "3bfa1c6.68b46e4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 440,
        "y": 180,
        "wires": [
            [
                "97c61131.a5b318"
            ]
        ]
    },
    {
        "id": "bbbbb41e.e9f668",
        "type": "github-repo",
        "z": "f3ffaee7.bf291",
        "github": "51cafaad.034724",
        "name": "Show node-red repo info",
        "username": "vergissberlin",
        "usernameType": "str",
        "repository": "bashlight",
        "repositoryType": "str",
        "action": "show",
        "branch": "master",
        "branchType": "str",
        "path": "",
        "pathType": "str",
        "pathto": "",
        "pathtoType": "str",
        "contents": "payload",
        "contentsType": "msg",
        "outputs": "1",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "47673ac0.fdeb24"
            ]
        ]
    },
    {
        "id": "2a20f63.647610a",
        "type": "github-user",
        "z": "f3ffaee7.bf291",
        "github": "51cafaad.034724",
        "name": "Get your personal info",
        "action": "orgs",
        "outputs": "1",
        "options": "",
        "optionsType": "json",
        "username": "vergissberlin",
        "usernameType": "str",
        "orgname": "",
        "orgnameType": "str",
        "x": 327,
        "y": 197,
        "wires": [
            [
                "47673ac0.fdeb24"
            ]
        ]
    },
    {
        "id": "25e78f3a.d6ea",
        "type": "inject",
        "z": "f3ffaee7.bf291",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 131,
        "y": 119,
        "wires": [
            [
                "bbbbb41e.e9f668"
            ]
        ]
    },
    {
        "id": "47673ac0.fdeb24",
        "type": "debug",
        "z": "f3ffaee7.bf291",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 661,
        "y": 192,
        "wires": []
    },
    {
        "id": "62530802.44c648",
        "type": "inject",
        "z": "f3ffaee7.bf291",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "x": 127,
        "y": 194,
        "wires": [
            [
                "2a20f63.647610a"
            ]
        ]
    },
    {
        "id": "24bdf403.eeea8c",
        "type": "github-repo",
        "z": "f3ffaee7.bf291",
        "github": "51cafaad.034724",
        "name": "Get contents of msg.payload at 'master'",
        "username": "vergissberlin",
        "usernameType": "str",
        "repository": "payload",
        "repositoryType": "msg",
        "action": "listforks",
        "branch": "master",
        "branchType": "str",
        "path": "",
        "pathType": "str",
        "pathto": "",
        "pathtoType": "str",
        "contents": "payload",
        "contentsType": "msg",
        "outputs": "1",
        "x": 399,
        "y": 279,
        "wires": [
            [
                "47673ac0.fdeb24"
            ]
        ]
    },
    {
        "id": "52d3a629.281ef8",
        "type": "inject",
        "z": "f3ffaee7.bf291",
        "name": "",
        "topic": "",
        "payload": "bashlight",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 132,
        "y": 280,
        "wires": [
            [
                "24bdf403.eeea8c"
            ]
        ]
    },
    {
        "id": "bb3b25c7.2f44",
        "type": "mqtt in",
        "z": "3956f74e.afa3",
        "name": "",
        "topic": "home/433/RESULT",
        "qos": "2",
        "broker": "43c62450.c9975c",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "c4f44a8.39210b8"
            ]
        ]
    },
    {
        "id": "c4f44a8.39210b8",
        "type": "debug",
        "z": "3956f74e.afa3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 370,
        "y": 140,
        "wires": []
    },
    {
        "id": "fcf270b8.44e338",
        "type": "mqtt in",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "topic": "octoprint/progress/printing",
        "qos": "2",
        "broker": "1aef3e95.0ce799",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "71bc8dd3.ca65f4"
            ]
        ]
    },
    {
        "id": "5f5c5234.da16f4",
        "type": "ui_gauge",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "group": "da1db3de.2b08d",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Progress",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#8888ff",
            "#E6E600",
            "#00B500"
        ],
        "seg1": "",
        "seg2": "",
        "x": 700,
        "y": 80,
        "wires": []
    },
    {
        "id": "71bc8dd3.ca65f4",
        "type": "json",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 80,
        "wires": [
            [
                "8df63d68.1310b",
                "fddf6814.228708"
            ]
        ]
    },
    {
        "id": "8df63d68.1310b",
        "type": "ui_text",
        "z": "5060f2fa.bf2a2c",
        "group": "da1db3de.2b08d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "File",
        "format": "{{msg.payload.path}}",
        "layout": "row-spread",
        "x": 690,
        "y": 120,
        "wires": []
    },
    {
        "id": "fe2f2bac.863398",
        "type": "ui_chart",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "group": "ec8fb82c.72ed78",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Bed temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "40",
        "ymax": "70",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "x": 730,
        "y": 280,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "a36eab91.481c3",
        "type": "mqtt in",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "topic": "octoprint/temperature/bed",
        "qos": "1",
        "broker": "1aef3e95.0ce799",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "fd08d421.22bb98"
            ]
        ]
    },
    {
        "id": "fd08d421.22bb98",
        "type": "json",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 280,
        "wires": [
            [
                "e1f40735.9986e"
            ]
        ]
    },
    {
        "id": "e1f40735.9986e",
        "type": "function",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "func": "msg.payload = msg.payload.actual;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 280,
        "wires": [
            [
                "fe2f2bac.863398",
                "f07236ec.e6e198",
                "4f4a073f.2fe038"
            ]
        ]
    },
    {
        "id": "8f0700fa.e4d25",
        "type": "ui_chart",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "group": "ec8fb82c.72ed78",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Extruder temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "bezier",
        "nodata": "",
        "dot": false,
        "ymin": "190",
        "ymax": "220",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1F77B4",
            "#AEC7E8",
            "#FF7F0E",
            "#2CA02C",
            "#98DF8A",
            "#D62728",
            "#FF9896",
            "#9467BD",
            "#C5B0D5"
        ],
        "useOldStyle": false,
        "x": 740,
        "y": 340,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "67fe9402.10e684",
        "type": "mqtt in",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "topic": "octoprint/temperature/tool0",
        "qos": "1",
        "broker": "1aef3e95.0ce799",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "cb281dc6.b4e4a"
            ]
        ]
    },
    {
        "id": "cb281dc6.b4e4a",
        "type": "json",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 410,
        "y": 340,
        "wires": [
            [
                "634cefa8.aabac"
            ]
        ]
    },
    {
        "id": "634cefa8.aabac",
        "type": "function",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "func": "msg.payload = msg.payload.actual;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "8f0700fa.e4d25",
                "c0805734.63d28",
                "3aa20629.3d908a"
            ]
        ]
    },
    {
        "id": "f07236ec.e6e198",
        "type": "ui_gauge",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "group": "99fea630.486d2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Bed",
        "label": "C°",
        "format": "{{value}}",
        "min": "20",
        "max": "80",
        "colors": [
            "#E6E600",
            "#00B500",
            "#CA3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "c0805734.63d28",
        "type": "ui_gauge",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "group": "99fea630.486d2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Extruder",
        "label": "C°",
        "format": "{{value}}",
        "min": "20",
        "max": "240",
        "colors": [
            "#E6E600",
            "#00B500",
            "#CA3838"
        ],
        "seg1": "198",
        "seg2": "220",
        "x": 700,
        "y": 380,
        "wires": []
    },
    {
        "id": "4f4a073f.2fe038",
        "type": "average-bars",
        "z": "5060f2fa.bf2a2c",
        "name": "average-bars",
        "title": "bed",
        "period": "week",
        "yMin": "auto",
        "yMax": "auto",
        "showBarsValue": true,
        "showScaleValue": true,
        "showLastValue": true,
        "showAverageValue": true,
        "showMinimumValue": true,
        "showMaximumValue": true,
        "maxBar": 30,
        "topColor": "#FF0000",
        "bottomColor": "#FFFF00",
        "unit": "°C",
        "fontColor": "#AAAAAA",
        "barStyle": "Rectangle",
        "decimal": "0",
        "x": 710,
        "y": 200,
        "wires": [
            [
                "f58b87bf.4c956"
            ]
        ]
    },
    {
        "id": "f58b87bf.4c956",
        "type": "ui_template",
        "z": "5060f2fa.bf2a2c",
        "group": "f03416b1.cb8298",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 860,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3aa20629.3d908a",
        "type": "average-bars",
        "z": "5060f2fa.bf2a2c",
        "name": "average-bars",
        "title": "extruder",
        "period": "week",
        "yMin": "auto",
        "yMax": "auto",
        "showBarsValue": true,
        "showScaleValue": true,
        "showLastValue": true,
        "showAverageValue": true,
        "showMinimumValue": true,
        "showMaximumValue": true,
        "maxBar": 30,
        "topColor": "#FF0000",
        "bottomColor": "#FFFF00",
        "unit": "°C",
        "fontColor": "#AAAAAA",
        "barStyle": "Rectangle",
        "decimal": "0",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "8b4f5aaf.0aff3"
            ]
        ]
    },
    {
        "id": "8b4f5aaf.0aff3",
        "type": "ui_template",
        "z": "5060f2fa.bf2a2c",
        "group": "f03416b1.cb8298",
        "name": "",
        "order": 0,
        "width": "6",
        "height": "4",
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 860,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "fddf6814.228708",
        "type": "function",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "func": "msg.payload = msg.payload.progress;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 80,
        "wires": [
            [
                "5f5c5234.da16f4"
            ]
        ]
    },
    {
        "id": "e887136a.9728e",
        "type": "mqtt in",
        "z": "5060f2fa.bf2a2c",
        "name": "",
        "topic": "octoprint/event/Disconnected",
        "qos": "1",
        "broker": "1aef3e95.0ce799",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "15f7ef94.1372a"
            ]
        ]
    },
    {
        "id": "15f7ef94.1372a",
        "type": "ui_toast",
        "z": "5060f2fa.bf2a2c",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "Print ended",
        "name": "",
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "3769d1ec.61fe06",
        "type": "mqtt in",
        "z": "3956f74e.afa3",
        "name": "",
        "topic": "tele/home/433/STATE",
        "qos": "2",
        "broker": "43c62450.c9975c",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "c4f44a8.39210b8"
            ]
        ]
    },
    {
        "id": "860ce49c.b8cdf",
        "type": "comment",
        "z": "3956f74e.afa3",
        "name": "trigger switch",
        "info": "## Remote\n\nA on    : 44455F\nA off   : 44455E\nB on    : 445151\nB off   : 445152\nC on    : 445457\nC off   : 445456\nD on    : 445511\nD off   : 445510\n",
        "x": 250,
        "y": 260,
        "wires": []
    },
    {
        "id": "55ddfa31.46d29c",
        "type": "mqtt in",
        "z": "3956f74e.afa3",
        "name": "",
        "topic": "tele/home/433/RESULT",
        "qos": "2",
        "broker": "43c62450.c9975c",
        "x": 160,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "851d683f.a77868",
        "type": "debug",
        "z": "3956f74e.afa3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 680,
        "wires": []
    },
    {
        "id": "37b94084.ddc93",
        "type": "mqtt out",
        "z": "3956f74e.afa3",
        "name": "",
        "topic": "cmnd/home/433/RfCode",
        "qos": "1",
        "retain": "",
        "broker": "43c62450.c9975c",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "d310cd86.02e3d",
        "type": "json",
        "z": "3956f74e.afa3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 350,
        "y": 320,
        "wires": [
            [
                "a5eed0b0.cae3a8",
                "3cdb4723.5eb75"
            ]
        ]
    },
    {
        "id": "a5eed0b0.cae3a8",
        "type": "switch",
        "z": "3956f74e.afa3",
        "name": "codes",
        "property": "payload.RfReceived.Data",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "FF92A2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "FF92A1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "A86D81",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "A86D82",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "A86D81",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "A86D88",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "A7F028",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2F3CA1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2F3CA2",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 10,
        "x": 510,
        "y": 460,
        "wires": [
            [
                "77876595.a29974"
            ],
            [
                "38f96431.4a044c"
            ],
            [
                "4c6cda69.c53dbc"
            ],
            [
                "c89842b7.e8a52"
            ],
            [
                "28b70ec7.7ab222"
            ],
            [
                "e70b745a.41c2a8"
            ],
            [
                "16ebfb79.7f9b5d"
            ],
            [
                "16ebfb79.7f9b5d"
            ],
            [
                "dcdf4e15.4eca6"
            ],
            [
                "851d683f.a77868"
            ]
        ]
    },
    {
        "id": "c89842b7.e8a52",
        "type": "change",
        "z": "3956f74e.afa3",
        "name": "B off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#445152",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 420,
        "wires": [
            [
                "37b94084.ddc93"
            ]
        ]
    },
    {
        "id": "4c6cda69.c53dbc",
        "type": "change",
        "z": "3956f74e.afa3",
        "name": "B on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#445151",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 380,
        "wires": [
            [
                "37b94084.ddc93"
            ]
        ]
    },
    {
        "id": "e70b745a.41c2a8",
        "type": "change",
        "z": "3956f74e.afa3",
        "name": "C off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#445456",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 520,
        "wires": [
            [
                "37b94084.ddc93"
            ]
        ]
    },
    {
        "id": "28b70ec7.7ab222",
        "type": "change",
        "z": "3956f74e.afa3",
        "name": "C on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#445457",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 480,
        "wires": [
            [
                "37b94084.ddc93"
            ]
        ]
    },
    {
        "id": "38f96431.4a044c",
        "type": "change",
        "z": "3956f74e.afa3",
        "name": "A off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#44455E",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 320,
        "wires": [
            [
                "37b94084.ddc93"
            ]
        ]
    },
    {
        "id": "77876595.a29974",
        "type": "change",
        "z": "3956f74e.afa3",
        "name": "A on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#44455F",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 280,
        "wires": [
            [
                "37b94084.ddc93"
            ]
        ]
    },
    {
        "id": "dcdf4e15.4eca6",
        "type": "change",
        "z": "3956f74e.afa3",
        "name": "D off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#445510",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 620,
        "wires": [
            [
                "37b94084.ddc93"
            ]
        ]
    },
    {
        "id": "16ebfb79.7f9b5d",
        "type": "change",
        "z": "3956f74e.afa3",
        "name": "D on",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "#445511",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 580,
        "wires": [
            [
                "37b94084.ddc93"
            ]
        ]
    },
    {
        "id": "1bc69d7.d940de3",
        "type": "mqtt in",
        "z": "3956f74e.afa3",
        "name": "",
        "topic": "tele/home/433/RESULT",
        "qos": "2",
        "broker": "43c62450.c9975c",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "c25fd642.cf8c"
            ]
        ]
    },
    {
        "id": "c25fd642.cf8c",
        "type": "json",
        "z": "3956f74e.afa3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 370,
        "y": 800,
        "wires": [
            [
                "a55a3859.bc27a"
            ]
        ]
    },
    {
        "id": "a55a3859.bc27a",
        "type": "function",
        "z": "3956f74e.afa3",
        "name": "add #",
        "func": "msg.payload = '#' + msg.payload.RfReceived.Data;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 800,
        "wires": [
            [
                "e8f59a89.749cc",
                "242c6080.6903b8"
            ]
        ]
    },
    {
        "id": "e8f59a89.749cc",
        "type": "ui_toast",
        "z": "3956f74e.afa3",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 750,
        "y": 780,
        "wires": []
    },
    {
        "id": "242c6080.6903b8",
        "type": "ui_text",
        "z": "3956f74e.afa3",
        "group": "b836fab1.70737",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Received",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 820,
        "wires": []
    },
    {
        "id": "3cdb4723.5eb75",
        "type": "switch",
        "z": "3956f74e.afa3",
        "name": "middle",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "A86D88",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 510,
        "y": 220,
        "wires": [
            [
                "64f115ff.514e5c"
            ]
        ]
    },
    {
        "id": "16a27022.2bc01",
        "type": "comment",
        "z": "ad48553a.3347e8",
        "name": "Documentation",
        "info": "# Problem\n\nI have a RF Remote that I want to use for my outdoor lamps but I don’t want to assign two buttons (ON button and OFF button) for this job. I want to have a single button to turn ON the lights as well as turn them OFF.\n\nWe do have multiple solutions for this one and I will show you one of them!\n\n**The logic behind is very simple:**\n\n1. We have an input (but we don’t care about the value)\n2. Read the next value from a variable (or assign 0 if none)\n3. Set the payload  to the next value and assign the opposite value to the variable\nOutput\n4. First, create a new subflow using the menu on the top right corner.\n\nFrom the top, add 1 input and 1 output node.\n![Subflow](https://www.iotwithus.com/wp-content/uploads/2018/11/node-red-toggle-subflow.png)\n\nImport the nodes in this file to your subflow.\n",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "56bf6596.955c8c",
        "type": "switch",
        "z": "ad48553a.3347e8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "6fd730dd.999cd"
            ],
            [
                "cc8eaa7b.f94268"
            ]
        ]
    },
    {
        "id": "6fd730dd.999cd",
        "type": "change",
        "z": "ad48553a.3347e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "next",
                "pt": "flow",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "cc8eaa7b.f94268",
        "type": "change",
        "z": "ad48553a.3347e8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "next",
                "pt": "flow",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "8f47e4e9.d2fb2",
        "type": "function",
        "z": "ad48553a.3347e8",
        "name": "get next value",
        "func": "msg.payload = flow.get(\"next\")||0;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 120,
        "wires": [
            [
                "56bf6596.955c8c"
            ]
        ]
    },
    {
        "id": "64f115ff.514e5c",
        "type": "function",
        "z": "3956f74e.afa3",
        "name": "B",
        "func": "msg.payload = {\n    \"id\": \"sadfg\",\n    \"on\": \"sdf\",\n    \"off\": \"asdf\"\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 650,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "19f25713.c47ea9",
        "type": "comment",
        "z": "ad5e5c74.55ca98",
        "name": "buttons",
        "info": "## Buttons\n\n- **Button Werkstatt**          #A7F028\n- **Unterm Bett**               #C754E8\n- **Doppel1 button - left**     #2F3CA2\n- **Doppel1 button - right**    #2F3CA1\n- **Trippel button - left**     #A86D81\n- **Trippel button - middle**   #A86D88\n- **Trippel button - right**    #A86D82\n- **Doppel2 button - left**     #FF92A1\n- **Doppel2 button - right**    #FF92A2\n",
        "x": 330,
        "y": 60,
        "wires": []
    },
    {
        "id": "314f3785.ae728",
        "type": "comment",
        "z": "ad5e5c74.55ca98",
        "name": "trigger switch",
        "info": "## Remote\n\nA on    : 44455F\nA off   : 44455E\nB on    : 445151\nB off   : 445152\nC on    : 445457\nC off   : 445456\nD on    : 445511\nD off   : 445510\n",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "ed8f42e4.cf9e3",
        "type": "function",
        "z": "ad5e5c74.55ca98",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 220,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ce4bc32e.ef7868",
        "type": "comment",
        "z": "3956f74e.afa3",
        "name": "buttons",
        "info": "## Buttons\n\n- **Button Werkstatt**          #A7F028\n- **Unterm Bett**               #C754E8\n- **Doppel1 button - left**     #2F3CA2\n- **Doppel1 button - right**    #2F3CA1\n- **Trippel button - left**     #A86D81\n- **Trippel button - middle**   #A86D88\n- **Trippel button - right**    #A86D82\n- **Doppel2 button - left**     #FF92A1\n- **Doppel2 button - right**    #FF92A2\n",
        "x": 110,
        "y": 260,
        "wires": []
    },
    {
        "id": "90dcc63b.1115d",
        "type": "config",
        "z": "3956f74e.afa3",
        "name": "Buttons",
        "properties": [
            {
                "p": "button",
                "pt": "flow",
                "to": "{\"A7F028\":{\"id\":\"werkstatt\",\"plug\":\"d\"},\"C754E8\":{\"id\":\"bed\",\"plug\":\"d\"},\"2F3CA1\":{\"id\":\"marvi_left\",\"plug\":\"d\"},\"2F3CA2\":{\"id\":\"marvi_right\",\"plug\":\"b\"},\"A86D81\":{\"id\":\"tipple_left\",\"plug\":\"b\"},\"A86D88\":{\"id\":\"tipple_middle\",\"plug\":\"b\"},\"A86D82\":{\"id\":\"tipple_right\",\"plug\":\"b\"},\"FF92A1\":{\"id\":\"living_left\",\"plug\":\"a\"},\"FF92A2\":{\"id\":\"living_right\",\"plug\":\"c\"}}",
                "tot": "json"
            }
        ],
        "active": true,
        "x": 280,
        "y": 1000,
        "wires": []
    },
    {
        "id": "4fa02152.c1728",
        "type": "config",
        "z": "3956f74e.afa3",
        "name": "Plugs",
        "properties": [
            {
                "p": "plug",
                "pt": "flow",
                "to": "{\"a\":{\"status\":\"on\",\"on\":\"#44455F\",\"off\":\"#44455E\"},\"b\":{\"status\":\"on\",\"on\":\"#445151\",\"off\":\"#445152\"},\"c\":{\"status\":\"on\",\"on\":\"#445457\",\"off\":\"#445456\"},\"d\":{\"status\":\"on\",\"on\":\"#445511\",\"off\":\"#445510\"}}",
                "tot": "json"
            }
        ],
        "active": true,
        "x": 130,
        "y": 1000,
        "wires": []
    },
    {
        "id": "fdd1037d.52a37",
        "type": "json",
        "z": "3956f74e.afa3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 330,
        "y": 1060,
        "wires": [
            [
                "21377488.3a5eb4"
            ]
        ]
    },
    {
        "id": "e341fe2d.1e467",
        "type": "mqtt in",
        "z": "3956f74e.afa3",
        "name": "",
        "topic": "tele/home/433/RESULT",
        "qos": "2",
        "broker": "43c62450.c9975c",
        "x": 160,
        "y": 1060,
        "wires": [
            [
                "fdd1037d.52a37"
            ]
        ]
    },
    {
        "id": "21377488.3a5eb4",
        "type": "function",
        "z": "3956f74e.afa3",
        "name": "toggle",
        "func": "let data = msg.payload.RfReceived.Data\nlet plug = flow.get(\"button.\" + data).plug\nlet label = \"\"\n\nif(flow.get(\"plug.\" + plug + \".status\") === \"on\") {\n    flow.set(\"plug.\" + plug + \".status\", \"off\")\n    msg.payload = flow.get(\"plug.\" + plug + \".off\" )\n    node.status({fill:\"gray\",shape:\"ring\",text: label + plug.toUpperCase() + \" off\"})\n} else {\n    flow.set(\"plug.\" + plug + \".status\", \"on\")\n    msg.payload = flow.get(\"plug.\" + plug + \".on\" )\n    node.status({fill:\"yellow\",shape:\"dot\",text: label + plug.toUpperCase() + \" on\"})\n}\n\ndelete msg.topic;\ndelete msg.retain;\ndelete msg.qos;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 1060,
        "wires": [
            [
                "bc7097b.35a8ee8",
                "89545c3.e5be72",
                "7d013ec7.14aaf8",
                "e01853b0.fce708"
            ]
        ]
    },
    {
        "id": "f950923c.709fc8",
        "type": "mqtt out",
        "z": "3956f74e.afa3",
        "name": "",
        "topic": "cmnd/home/433/RfCode",
        "qos": "2",
        "retain": "",
        "broker": "43c62450.c9975c",
        "x": 890,
        "y": 1060,
        "wires": []
    },
    {
        "id": "bc7097b.35a8ee8",
        "type": "ui_switch",
        "z": "3956f74e.afa3",
        "name": "",
        "label": "B",
        "group": "aecb3339.89df3",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "#445151",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "#445152",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 610,
        "y": 1040,
        "wires": [
            [
                "f950923c.709fc8"
            ]
        ]
    },
    {
        "id": "7d013ec7.14aaf8",
        "type": "ui_switch",
        "z": "3956f74e.afa3",
        "name": "",
        "label": "C",
        "group": "aecb3339.89df3",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "#445457",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "#445456",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 610,
        "y": 1100,
        "wires": [
            [
                "f950923c.709fc8"
            ]
        ]
    },
    {
        "id": "e01853b0.fce708",
        "type": "ui_switch",
        "z": "3956f74e.afa3",
        "name": "",
        "label": "D",
        "group": "aecb3339.89df3",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "#445511",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "#445510",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 610,
        "y": 1160,
        "wires": [
            [
                "f950923c.709fc8"
            ]
        ]
    },
    {
        "id": "89545c3.e5be72",
        "type": "ui_switch",
        "z": "3956f74e.afa3",
        "name": "",
        "label": "A",
        "group": "aecb3339.89df3",
        "order": 0,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "#44455F",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "#44455E",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 610,
        "y": 980,
        "wires": [
            [
                "f950923c.709fc8"
            ]
        ]
    },
    {
        "id": "35a8a2a1.019ede",
        "type": "comment",
        "z": "3956f74e.afa3",
        "name": "toggle switches",
        "info": "",
        "x": 140,
        "y": 920,
        "wires": []
    },
    {
        "id": "b1b88937.988508",
        "type": "comment",
        "z": "3956f74e.afa3",
        "name": "notifications",
        "info": "",
        "x": 130,
        "y": 740,
        "wires": []
    }
]